.stack-form-controls-vertically {
    display: inline-block;
    padding: 1% 5% 0 2%;
}

.select-all-section {
    display: inline-block;
    font-size: 14px;
    color: #b5b5b5;
    padding-top: 7px;
}

.form-button-section {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
}

sq-button {
    padding: 3px 17px;
    margin: 10px;
    margin-right: -25px;
}