
<sq-card >

  <div>
    <!--Form Div-->
  <div>
    <form [formGroup]="searchForm">
        <div class="stack-form-controls-vertically">
          <div >
            <sq-textbox type="text"
            [placeholder]= "LastName"
            tabOrder="1"
            formControlName="lastName" 
            required="true" >
            </sq-textbox>
          </div>
            <div class="sq-text-box-div">
            <sq-textbox type="text" 
            
            [placeholder]="FirstName"
            tabOrder="2"
            formControlName="firstName">
            </sq-textbox>
          </div>
          <div class="sq-text-box-div">
              <sq-textbox type="text" 
              [placeholder]="MiddleName" 
              tabOrder="3"
              formControlName="middleName"  >
              </sq-textbox>
            </div>
        </div>
  
         <div class="stack-form-controls-vertically">
            <div >
              <sq-textbox type="text" 
              [placeholder]="PatientID" tabOrder="4"
              formControlName="patientId"  >
              </sq-textbox>
            </div>

            <div >
              <sq-textbox type="text" 
              [placeholder]="NHS" tabOrder="5"
              formControlName="nhsNo"  >
              </sq-textbox>
            </div>
            <div >
                <sq-textbox type="text" 
                [placeholder]="BillingAccountNumber" tabOrder="6"
                formControlName="billAccount">
                </sq-textbox>
              </div>
            </div>
  
             <div class="stack-form-controls-vertically">
            <div >
              <sq-select 
              [placeholder]="SelectHID"
              required= "true"
              formControlName="hidList"
              tabOrder= "8"
              enableMultiSelect="true"
              [sqConfig]="sqHidListConfig"
              [validationMessage]="sqSelectvalidationMessage">
              </sq-select>
              <div  >
                  <sq-checkbox formControlName ="checkAllCheckBox"
                  labelPosition='before'
                  tabOrder="7"
                  color='primary'
                  [checked]="sqChecked"
                  name="sqCheckbox1"
                  (sqChange)="sqChange($event)"
                  i18n="Check All Checkbox |Checks all the HIDs in select Dropdown@@CheckAllCheckBox" l10nTranslate> CheckAll </sq-checkbox>
                 </div>
            </div>
          </div>

          <div class="select-all-section">
             
          </div>

          <div class="form-button-section">

              <sq-button type="reset" variant="raised-button" color="basic" l10nTranslate>Clear</sq-button>
              
              <sq-button type="submit" variant="raised-button" color="primary"
              (clickHandler)="submitForm()" l10nTranslate>Submit</sq-button>
            </div>
    </form>
  </div>
  </div>
  
</sq-card>
<sq-card>
    <p>Today : {{ today | date: 'fullDate':'':Angulari18nlocale }}</p>
    <p>Currency : {{ a | currency: 'USD':'symbol':'4.2-2' }} </p>
  </sq-card>



  <!-- ANGULAR I18N PART BELOW, REMOVED IT FROM EXISTING CODE DUE TO AOT COMPILATION ERRORS IN COMPONENT-->



  <!--
     <div>
    <form [formGroup]="searchForm">
        <div class="stack-form-controls-vertically">
          <div >
            <sq-textbox type="text" 
            i18n-placeholder = "LastNamePlaceholder|Place holder for last name text box@@LastNamePlaceholder"
            placeholder="Last Name" 
            tabOrder="1"
            formControlName="lastName" 
            required="true" >
            </sq-textbox>
          </div>
            <div class="sq-text-box-div">
            <sq-textbox type="text" 
            i18n-placeholder = "FirstNamePlaceholder|Place holder for first name text box@@FirstNamePlaceholder"
            placeholder="First Name" tabOrder="2"
            formControlName="firstName">
            </sq-textbox>
          </div>
          <div class="sq-text-box-div">
              <sq-textbox type="text" 
              i18n-placeholder = "MiddleNamePlaceholder|Place holder for middle name text box@@MiddleNamePlaceholder"
              placeholder="Middle Name" tabOrder="3"
              formControlName="middleName"  >
              </sq-textbox>
            </div>
        </div>
  
         <div class="stack-form-controls-vertically">
            <div >
              <sq-textbox type="text" 
              i18n-placeholder = "PatientIDPlaceholder|Place holder for PatientID text box@@PatientIDPlaceholder"
              placeholder="Patient ID" tabOrder="4"
              formControlName="patientId"  >
              </sq-textbox>
            </div>

            <div >
              <sq-textbox type="text" 
              i18n-placeholder = "NHSPlaceholder|Place holder for NHS text box@@NHSPlaceholder"
              placeholder="NHS" tabOrder="5"
              formControlName="nhsNo"  >
              </sq-textbox>
            </div>
            <div >
                <sq-textbox type="text" 
                i18n-placeholder = "BillingAccountNumber|Place holder for Billing Account Number text box@@BillingAccountNumberPlaceholder"
                placeholder="Billing Account Number" tabOrder="6"
                formControlName="billAccount">
                </sq-textbox>
              </div>
            </div>
  
             <div class="stack-form-controls-vertically">
            <div >
              <sq-select 
              i18n-placeholder = "SelectHID|Place holder for Select HID Dropdown@@SelectHIDPlaceholder"
              placeholder="Select HID"
              required= "true"
              formControlName="hidList"
              tabOrder= "8"
              enableMultiSelect="true"
              [sqConfig]="sqHidListConfig"
              [validationMessage]="sqSelectvalidationMessage">
              </sq-select>
              <div  >
                  <sq-checkbox formControlName ="checkAllCheckBox"
                  labelPosition='before'
                  tabOrder="7"
                  color='primary'
                  [checked]="sqChecked"
                  name="sqCheckbox1"
                  (sqChange)="sqChange($event)"
                  i18n="Check All Checkbox |Checks all the HIDs in select Dropdown@@CheckAllCheckBox">Check All  </sq-checkbox>
                 </div>
            </div>
          </div>

          <div class="select-all-section">
             
          </div>

          <div class="form-button-section">

              <sq-button type="reset" variant="raised-button" color="basic" >Clear</sq-button>
              
              <sq-button type="submit" variant="raised-button" color="primary"
              (clickHandler)="submitForm()">Submit</sq-button>
            </div>
    </form>
  </div>
  -->